body {
	font-family: 'Inter', system-ui;
	font-style: normal;
	font-weight: 700;
	background-color: #E7F6FF;
}
* {
	font-family: 'Inter', system-ui;
}

.wrapper {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	max-width: 1100px;
	margin: 50px auto; 
	
}

.content {
	padding: 40px 30px 30px 60px;
	.content__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
	.content__title {
		font-size: 32px;
		line-height: 39px;
	}
}

.content__search {
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	padding: 0 15px;
	position: relative;
	
	input {
		font-size: 16px;
		border: 0;
		padding:13px;
		width: 200px;
	}
	img {
		margin-top: 15px;
	}
	.search__clear {
		position: absolute;
		width: 14px;
		height: 14px;
		right: 15px;
		cursor: pointer;
	}
}
.content__cards {
	display: flex;
	flex-wrap: wrap;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	// background-color: red;
	z-index: 1;
}

.cart {
	position: absolute;
	width: 420px;
	right: 0;
	height: 100%;
	background-color: #fff; 
	box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
	padding: 30px;
	display: flex;
	flex-direction: column;
	h2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
	.cart__items {
		flex: 1;
		overflow: auto;
		margin-bottom: 30px;
		.cart__item {
		display: flex;
		align-items: center;
		border: 1px solid #F3F3F3;
		border-radius: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
		height: 120px;
		overflow: hidden;
		}
		.mini-logo {
			margin: 20px;
		}
		.cart__disc {
			margin: 30px 0;
			p {
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 8px;
			}
			b {
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
		
	.calc {
		div {
			flex: 1;
			height: 1px;
			border-bottom: 1px dashed #dfdfdf;
			position: relative;
			top:-3px;
			margin: 0 6px;
		}
		span {
			font-weight: 400;
			font-size: 16px;
		}
		b{
			font-weight: 600;
		}
		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;
		}
		ul {
			margin-bottom: 40px;
		}
	}
	
}

.cart__empty {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	h2{
		margin-top: 20px;
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
	}
	p{
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		opacity: 0.4;
	}
	button{
		margin-top: 40px;
		img {
			position: absolute;
			left: 50px;
			top: 20px;
			transition: transform 0.15s ease-in-out;
			transform: rotate(180deg);
			
		}
		&:hover {
			img {
				transform: rotate(180deg) translateX(5px);
			}
		}
	}
}

.GreenBtn {
	position: relative;
	width: 100%;
	height: 55px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	background: #9DD558;
	border-radius: 18px;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	img {
		position: absolute;
		right: 30px;
		top: 20px;
		transition: transform 0.15s ease-in-out;
	}
	&:hover {
		background: lighten(#9dd558, 10%);
		img {
			transform: translateX(5px);
		}
	}
	&:active {
		background: darken(#9dd558, 5%)
	}
}
.remove-icon {
	margin-right: 20px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	cursor: pointer;
	&:hover{
		opacity: 1;
		transition: opacity 0.25s ease-in-out;
	}
}